name: CI/CD Pipeline
on:
    workflow_dispatch:
        inputs:
            logLevel:
                description: 'Log level'
                required: true
                default: 'warning'
                type: choice
                options:
                    - infoe
                    - warning
                    - debug
            tags:
                description: 'Test scenario tags'
                required: false
                type: boolean
jobs:
    say_hello:
        runs-on: ubuntu-latest
        steps:
        - name: Print inputs
            run: |
                echo "Log level: ${{ inputs.logLevel }}"
                echo "Run tags: ${{ inputs.tags }}"
