name: Learn GitHub Actions

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Run a one-line script
        run: echo Hello, World!

    steps:
      - name: Run other one-line script
        run: echo Hello, World2!
